.Alert {
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 20px;
  letter-spacing: 1px;
  background-color: #f3f3f3;
  border-radius: 4px;
  padding: 5px 10px;
}

.Alert-danger {
  color: #cb1424;
}

.Alert-success {
  color: #2ad11a;
}
