.Review {
  max-width: 600px;
  width: 90vw;
  background-color: white;
  border-radius: 10px;
  padding: 25px;
  text-align: center;
  margin-top: 35px;
  box-shadow: 5px 5px 10px 1px rgba(0, 0, 0, 0.2);
}

.image-container {
  position: relative;
}
.image-container span {
  position: absolute;
  top: 10px;
  left: 36%;
  z-index: 999;
  background-color: #49a6e9;
  color: #fff;
  width: 40px;
  height: 40px;
  display: grid;
  place-items: center;
  border-radius: 50%;
}

.Review img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
  box-shadow: 7px -3px #49a6e9;
}

.Review h3 {
  margin-top: 10px;
  margin-bottom: 5px;
  text-transform: capitalize;
  font-size: 22px;
}

.Review .job {
  text-transform: uppercase;
  font-size: 14px;
  color: #49a6e9;
}

.Review p {
  margin: 10px 0;
  font-size: 15px;
  color: rgba(0, 0, 0, 0.7);
}

.navigation-btn button {
  background: transparent;
  outline: none;
  cursor: pointer;
  border: none;
  color: #49a6e9;
  transform: scale(1.5);
  margin: 10px 5px;
}

.random-btn {
  color: #49a6e9;
  background-color: #eee;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 16px;
  padding: 4px 20px 6px 20px;
  border-radius: 5px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  transition: all 0.5s ease;
}

.random-btn:hover {
  background-color: #49a6e9;
  color: #fff;
}
